* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;

  background-image: url("../login/login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background: #ffffffa9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

h1 {
  margin-bottom: 20px;
  color: #4e73df;
}

.form {
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form.active {
  display: flex;
  opacity: 1;
}

input,
select {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

button {
  padding: 12px;
  background: #4e73df;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #3751c5;
}

.toggle {
  margin-top: 10px;
  font-size: 14px;
}

.toggle a {
  color: #1cc88a;
  text-decoration: none;
  font-weight: bold;
}

.toggle a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}