body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-image: url(fundo\ video.png);
}

.menu_nav ul {

  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 30px;
  color: white;
  height: 75px;
  width: 100%;
  background-color: rgba(7, 10, 50, 0.871);
  border-radius: 5px;
  position: relative;
  top: -55px;
  right: 20px;


}


.menu_nav ul li {
  cursor: pointer;
  margin: 100px;


}

.menu_nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.3s;

}

.menu_nav a:hover {
  color: rgb(8, 208, 248);
  transform: scale(1.05);

}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;

}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

button {
  padding: 10px;
}

#listaVideos iframe {
  margin: 15px;
  width: 400px;
  height: 225px;
}